
@{
    ViewData["Title"] = "Success";
}

<hr />

<div class="alert alert-success" role="alert">
    Your order has been placed successfully. <a href="/" class="alert-link">Click here to continue shopping.</a>
</div>

<hr />